version: '3'

services:
  reverse-proxy:
    # The official v2 Traefik docker image
    image: traefik:v2.2
    # Enables the web UI and tells Traefik to listen to docker
    command: 
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - --providers.docker.network=traefik
      - "--entrypoints.web.address=:80"
      - "--"
    ports:
      # The HTTP port
      - "80:80"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - traefik
  
  api:
    networks:
      - traefik
    build: api/
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`api.${traefikhost}`)"

  indra:
    networks:
      - traefik
    image: labsyspharm/indra
    command: python /sw/indra/rest_api/api.py
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.indra.rule=Host(`indra.${traefikhost}`)"
      - "traefik.http.services.indra.loadbalancer.server.port=8080"

  preview:
    networks:
      - traefik
    build: ./preview
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.preview.rule=Host(`preview.${traefikhost}`)"

  website:
    networks:
      - traefik
    build: website-node-docker/
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.website.rule=Host(`${traefikhost}`)"
    command: ["node_modules/serve/bin/serve.js", "./public"]

  vufind:
    networks:
      - traefik
    image: unica/vufind
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vufind.rule=Host(`vufind.${traefikhost}`)"
      - "traefik.http.services.vufind.loadbalancer.server.port=80"

  grlc:
    networks:
      - traefik
    image: clariah/grlc
    environment:
      - "GRLC_SERVER_NAME=grlc.io"
      - "GRLC_GITHUB_ACCESS_TOKEN=xxx" # Your token
      - "GRLC_SPARQL_ENDPOINT=http://dbpedia.org/sparql"
      - "DEBUG=true"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grlc.rule=Host(`grlc.${traefikhost}`)"

  graphdb:
    networks:
      - traefik
    image: ontotext/graphdb:9.1.1-se
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.graphdb.rule=Host(`graphdb.${traefikhost}`)"
      - "traefik.http.services.graphdb.loadbalancer.server.port=7200"
    volumes:
      - ./data/graphdb:/opt/graphdb/home/data

  ocr:
    networks:
      - traefik
    image: ricktorzynski/ocr-tesseract-docker
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ocr.rule=Host(`ocr.${traefikhost}`)"
      - "traefik.http.services.ocr.loadbalancer.server.port=5000"

  es:
    networks:
      - traefik
    build: elasticsearch/
    ports:
      - "9201:9200"
      - "9301:9300"
    environment:
      - "ES_JAVA_OPTS=-Xmx4024m -Xms4024m"
    ulimits:
       memlock:
         soft: -1
         hard: -1
    volumes:
      - ./data:/usr/share/elasticsearch/data
      - ./elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - ./data/original:/exchange
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.es.rule=Host(`es.${traefikhost}`)"
      - "traefik.http.services.es.loadbalancer.server.port=9200"
  
  jupyter:
    networks:
      - traefik
    image: jupyter/base-notebook
    volumes:
      - ./data/repo:/home/jovyan/work
    environment:
      - "JUPYTERHUB_1API_TOKEN=test_for_local"
    user:
      "root"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jupyter.rule=Host(`jupyter.${traefikhost}`)"
      - "traefik.http.routers.jupyter.entrypoints=web"

  sparql:
    networks:
      - traefik
    image: tenforce/virtuoso:1.3.1-virtuoso7.2.2
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://www.example.com/my-graph"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sparql.rule=Host(`sparql.${traefikhost}`)"
      - "traefik.http.routers.sparql.entrypoints=web"
      - "traefik.http.services.sparql.loadbalancer.server.port=8890"
    volumes:
      - ./data/virtuoso:/data

  kibana:
    networks:
      - traefik
    image: docker.elastic.co/kibana/kibana:7.8.0
    environment:
      ELASTICSEARCH_HOSTS: http://search.coronawhy.org
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.kibana.rule=Host(`kibana.${traefikhost}`)"
      - "traefik.http.services.kibana.loadbalancer.server.port=5601"

  whoami:
    networks:
      - traefik
    image: "containous/whoami"
    container_name: "whoami"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.entrypoints=web"
      - "traefik.http.routers.whoami.rule=Host(`whoami.${traefikhost}`)"
      #- "traefik.http.routers.whoami.rule=Path(`/check`)"

      #- "traefik.http.middlewares.add-foo.addprefix.prefix=/check"

  semantic:
    networks:
      - traefik
    image: "coronawhy/chatbot"
    container_name: "chatbot"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.chatbot.entrypoints=web"
      - "traefik.http.routers.chatbot.rule=Host(`semantic.${traefikhost}`)"
      - "traefik.http.services.chatbot.loadbalancer.server.port=8080"
    volumes:
      - ./data/data_dumps:/semantic-bot/data_dumps
      - ./semantic/chatbot_app/settings.py:/semantic-bot/chatbot_app/settings.py
      - ./semantic/assets:/semantic-bot/static_files
      - ./semantic/index.html:/semantic-bot/chat/templates/index.html

  doccano:
    networks:
      - traefik
    image: "coronawhy/doccano"
    container_name: "doccano"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.doccano.entrypoints=web"
      - "traefik.http.routers.doccano.rule=Host(`doccano.${traefikhost}`)"


networks:
  traefik:
    external: true
